# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-search-documents==11.6.0b2
azure-core>=1.30.0
openai>=1.35.7
requests-toolbelt
pypdf
python-docx